body{
    background-color:#EBEEF3 ;
}
.containerUserCard{
    background-color: white;
    display: flex;
    height: 200px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagine{
    height: 200px;
    width: 200px;
}

.nameContainer{
    position: absolute;
    right: 130px;
    top: 40px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.userInfoProfesion{
    position: absolute;
    right: 30px;
    top: 65px;
    font-size: 15px;
    color: black;
    border: 1px solid #EBECEF;
    border-radius: 3px;
    background-color: #EBECEF;
}

.userInfoProfesion2{
    position: absolute;
    right: 130px;
    top: 65px;
    font-size: 15px;
    color: black;
    border: 1px solid #EBECEF;
    border-radius: 3px;
    background-color: #EBECEF;
}

.userLinksImg{
    height: 40px;
}

a{
    text-decoration: none;
}

.userLinks{
    position: absolute;
    left: 300px;
    top: 90px;
}
